################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/treeApp/.vs/treeApp/FileContentIndex/05fae98c-2b35-4d31-ba54-5085ca3c7db6.vsidx
/treeApp/.vs/treeApp/FileContentIndex/a053d61b-ffd3-4e19-9f8a-56d16b7829e6.vsidx
